{{ attach_library('hdywtdt/tile') }}
<section class="tile flex-container flex-dir-column md-flex-dir-row">
  <div class="tile__media flex-1-1 md-flex-1-4">{{ media }}</div>
  <div class="tile__container flex-1-1 md-flex-3-4 flex-container flex-dir-column">
    <h2 class="tile__container__title flex-1-1">{{ title }}</h2>
    <div class="tile__container__content flex-1-1">{{ content }}</div>
    <div class="tile__container__bottom-row flex-1-1">{{ bottom_row }}</div>
  </div>
</section>
